services:
  web:
    container_name: nextjs-app
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL:-http://0.0.0.0:8080}
    ports:
      - "3000:3000"
    restart: unless-stopped
