name: Frontend CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - 'frontend/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'frontend/**'

#define o diretorio padrao para a execucao dos comandos
defaults:
  run:
    working-directory: ./frontend

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    - name: Setup Node.js 24.x
      uses: actions/setup-node@v4
      with:
        node-version: '24.x'
        cache: 'npm'
        cache-dependency-path: ./frontend/package-lock.json

    - name: Instalar dependências
      run: npm ci

    - name: Rodar Linter
      run: npm run lint

    - name: Fazer o Build
      run: npm run build